# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\OneDrive\NackademinPlugg\OOAD\JAVA20-OOAD-VG-Uppgift-VIKTOR-KODET-program\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
